body {
    font-family: sans-serif;
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
  }
  
  input, button {
    padding: 5px;
    margin: 5px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  